{% extends "main/base.html" %}

{% block title %}
Details
{% endblock %}

{% block href%}
<a class="nav-item nav-link active" href="{% url 'index' %}">My tickets<span class="sr-only">(current)</span></a>
<a class="nav-item nav-link" href="{% url 'new_ticket' %}">Write new one</a>
{% endblock %}

{% block detail %}
<div class="card" style="max-width: 70%; margin-left: 15%; margin-right: 15%; margin-top: 2%; box-shadow: 0px 5px 5px rgb(212, 212, 212);">
    <div class="card-header bd-dark">
        <h1>Title: {{ task.title }}</h1>
    </div>
    <div class="container">
        <div style="padding-top: 1%; max-height: 30%;">Description: <br>{{ task.task }}</div>
    </div>
</div>
{% endblock %}