{% extends "main/base.html" %}

{%block styles %}
<style>
  @media (max-width: 700px){
    .outer {
      width: 100%;
      max-width: 420px;
      margin: 4% auto;
    }
  }

  @media (max-width: 450px){
    .outer {
      width: 100%;
      max-width: 370px;
      margin: 4% auto;
    }
  }

  @media (max-width: 380px){
    .outer {
      width: 100%;
      max-width: 300px;
      margin: 4% auto;
    }
  }
</style>
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block href%}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'index' %}">My tasks<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'new_task' %}">Write new one</a>
</li>
{% endblock %}

{% block list %}
  {% if tasks %}
  <div style="max-width: 70%; margin: 3% 15% 3% 15%;">
    <h1 style="text-align: center;">My tasks</h1>
  </div>
    <div style="margin-bottom: 3%;">
      {% for el in tasks %}
      <div class="outer">
        <div class="card" style="width: 100%; max-width: 700px; margin: 1% auto;">
          <div class="card-header">
            {% if el.status == 'Done' %}
            <s>{{ el.title }}</s>
            <span class="badge badge-pill badge-success">{{ el.status }}</span>
            {% else %}
            {{ el.title }}
            <span class="badge badge-pill badge-warning">{{ el.status }}</span>
            {% endif %}
            <a href="delete/{{ el.id }}">
              <button type="button" class="close">
                <form method="post" action="">
                  {% csrf_token %}
                  &times;
                </form>
              </button>
            </a>
          </div>
          <div class="card-body">
            {% if el.status == 'Done' %}
              <p class="card-text"><s>{{ el.task }}</s></p>
              <a href="{% url 'task_detail' pk=el.pk %}" class="btn btn-primary">Details</a>
            {% else %}
              <p class="card-text">{{ el.task }}</p>
              <a href="{% url 'task_detail' pk=el.pk %}" class="btn btn-primary">Details</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div style="text-align: center; justify-content: center;">
      <div class="alert alert-danger" role="alert">
        Sorry, no tasks yet...
      </div>
    </div>
  {% endif %}
{% endblock %}