{% extends "main/base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block href %}
<a class="nav-item nav-link" href="{% url 'index' %}">My tickets</a>
<a class="nav-item nav-link active" href="{% url 'new_task' %}">Write new one<span class="sr-only">(current)</span></a>
{% endblock %}

{% block content %}
<div class="container mt-3" style="max-width: 50%;">
  <h1 class="">Write down ticket</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Ticket's name</label>
      {{ form.title }}
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Your problem</label>
      {{ form.task }}
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
    <span>{{ error }}</span>
  </form>
</div>
{% endblock %}