{% extends "main/base.html" %}

{% load crispy_forms_tags %}

{% block title %}
Register
{% endblock %}

{% block href%}
<a class="nav-item nav-link" href="{% url 'index' %}">My tasks</a>
<a class="nav-item nav-link" href="{% url 'new_task' %}">Write new one</a>
{% endblock %}

{% block auth %}
<div style="width: 100%; max-width: 700px; margin: 0 auto;">
    <form method="post" style="justify-content: center; margin: 3% 9% 5% 9%;">
        <h1 style="text-align: center; margin-bottom: 2%; margin-top: 2%;">Register account</h1>
        {% csrf_token %}
        {{ form|crispy }}
        <small>Already have an account?</small>
        <a href="{% url 'login' %}"><small>Log in</small></a><br><br>
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
</div>
{% endblock %}